@using System.Threading
@using Microsoft.AspNetCore.Localization
@inject Microsoft.Extensions.Options.IOptions<RequestLocalizationOptions> loc
@{
    var culture = Thread.CurrentThread.CurrentUICulture.Name;
}
<form asp-controller="Culture" asp-action="Set" method="get" class="d-inline">
    <select name="culture" onchange="this.form.submit()" class="form-select form-select-sm w-auto">
        @foreach (var c in loc.Value.SupportedUICultures)
        {
            if (c.Name == culture)
            {
                <option value="@c.Name" selected>@c.NativeName</option>
            }
            else
            {
                <option value="@c.Name">@c.NativeName</option>
            }
        }
    </select>
    <input type="hidden" name="returnUrl" value="@(Context.Request.Path + Context.Request.QueryString)" />
</form>
